.form-control {
  background-color: black;
  color: white;
  display: block;
  width: calc(100% - 1.15em);
  height: 70px;
  font-size: 30px;
  font-weight: 600;
  padding: 0 0.5em;
  text-align: right;
}

.table {
  border: 1px solid black;
  font-size: 15px;
  font-weight: 600;
}

.table tr td {
  border: 1px solid black;
  padding: 1em;
  text-align: center;
  background-color: #DFDFDF;
}

.table tr td:last-child {
  background-color: #237FD5;
  color: white;
}

.table tr:nth-child(2) td {
  background-color: white;
  color: black;
}

.table tr:nth-child(2) td:last-child {
  background-color: #237FD5;
  color: white;
}

.flex-cal {
  font-size: 15px;
  font-weight: 600;
}

.flex-cal .row {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  background-color: #DFDFDF;
}

.flex-cal .row:nth-child(2) {
  background-color: white;
  color: black;
}

.flex-cal .row div {
  padding: 1em;
  width: 25%;
  text-align: center;
  border-right: 1px solid black;
}

.flex-cal .row div:last-child {
  border-right: none;
  background-color: #237FD5;
  color: white;
}